name: CI - Build and Test in Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: UI Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t my-maven-app .

      - name: Run tests inside container
        run: docker run --name test-run my-maven-app

      - name: Copy Allure results
        if: always()
        run: |
          docker cp test-run:/app/allure-results ./allure-results || echo "No report found"
          docker rm test-run

      - name: List Allure results directory
        if: always()
        run: ls -la ./allure-results

      - name: Upload Allure results as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: ./allure-results

 # PERFORMANCE TESTING JOB
  performance:
    name: JMeter Load Test
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run JMeter test plan
        run: |
          mkdir -p jmeter-results
          docker run --rm -v ${{ github.workspace }}:/jmeter \
            justb4/jmeter \
            -n -t /jmeter/performance/ProductStore_Performance_Test_Plan.jmx \
            -l /jmeter/jmeter-results/results.jtl \
            -e -o /jmeter/jmeter-results/html-report

      - name: Upload JMeter results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: jmeter-results

#SECURITY TESTING JOB
  security:
    name: OWASP ZAP Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare reports folder
        run: mkdir -p reports

      - name: Run OWASP ZAP Scan
        run: |
          docker run --rm -u root -v $(pwd)/reports:/zap/wrk/:rw \
          zaproxy/zap-stable \
          zap-baseline.py \
            -t https://www.demoblaze.com/ \
            -r zap_report.html || true

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: ZAP Security Report
          path: reports/zap_report.html

      - name: list files
        run: ls -la reports


  generate-and-deploy-allure:
    name: Generate and Deploy Allure Report
    needs: build-and-test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: ./allure-results

      # Step 5: Install Allure CLI
      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip
          wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.zip
          unzip allure-2.29.0.zip -d /opt/
          sudo ln -s /opt/allure-2.29.0/bin/allure /usr/bin/allure
          allure --version

      # Step 6: Generate Allure report
      - name: Generate Allure Report
        run: allure generate ./allure-results --clean -o target/allure-report

      # Step 7: Deploy Allure report to GitHub Pagess
      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: target/allure-report
          publish_branch: gh-pages
          destination_dir: allure-report
          force_orphan: false

  deploy-jmeter-report:
    name: Publish JMeter Report
    runs-on: ubuntu-latest
    needs: performance
    if: always()

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download JMeter results
        uses: actions/download-artifact@v4
        with:
          name: jmeter-results
          path: jmeter-results

      - name: Deploy JMeter report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: jmeter-results/html-report
          publish_branch: gh-pages
          destination_dir: jmeter-report
          force_orphan: false

  deploy-zap-report:
    name: Publish ZAP Security Report
    runs-on: ubuntu-latest
    needs: security
    if: always()

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download ZAP report artifact
        uses: actions/download-artifact@v4
        with:
          name: ZAP Security Report
          path: reports

      - name: Deploy ZAP report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_PAT }}
          publish_dir: ./reports
          publish_branch: gh-pages
          destination_dir: zap-report
          force_orphan: false


  notify:
    name: Send Slack Notification
    needs: [ build-and-test,performance, security,generate-and-deploy-allure,deploy-jmeter-report,deploy-zap-report ]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack notification
        run: |
          # Default values
          STATUS="success"
          COLOR="good"
          EMOJI="✅"
          TITLE="*Car Rental QA Pipeline Passed*"

          # If any upstream job failed because of test/assertion failures
          if [[ "${{ needs.build-and-test.result }}" == "failure" || \
                "${{ needs.performance.result }}" == "failure" || \
                "${{ needs.security.result }}" == "failure" ]]; then
            STATUS="completed_with_failures"
            COLOR="warning"
            EMOJI="❌"
            TITLE="*Car Rental QA Pipeline Build process failed*"
          fi

          # If any upstream job failed due to infra (cancelled or error)
           if [[ "${{ needs.ui-tests.result }}" == "cancelled" || \
                "${{ needs.performance.result }}" == "cancelled" || \
                "${{ needs.security.result }}" == "cancelled" || \
                "${{ needs.ui-tests.result }}" == "skipped" || \
                "${{ needs.performance.result }}" == "skipped" || \
                "${{ needs.security.result }}" == "skipped" ]]; then
             STATUS="failed"
             COLOR="danger"
             EMOJI="❌"
             TITLE="*Car Rental QA Pipeline Failed*"
           fi

           curl -X POST -H 'Content-type: application/json' --data "{
             \"attachments\": [
               {
                 \"color\": \"$COLOR\",
                 \"blocks\": [
                   {
                     \"type\": \"section\",
                     \"text\": {
                       \"type\": \"mrkdwn\",
                       \"text\": \"$EMOJI $TITLE\n*Status:* $STATUS\"
                     }
                   },
                   {
                     \"type\": \"section\",
                     \"fields\": [
                       {
                         \"type\": \"mrkdwn\",
                         \"text\": \"*Reports:*\\n• <https://$GITHUB_REPOSITORY_OWNER.github.io/${{ github.event.repository.name }}/allure-report/index.html|Allure Report>\\n• <https://$GITHUB_REPOSITORY_OWNER.github.io/${{ github.event.repository.name }}/jmeter-report/index.html|JMeter Report>\\n• <https://$GITHUB_REPOSITORY_OWNER.github.io/${{ github.event.repository.name }}/zap-report/zap_report.html|ZAP Security Report>\"
                       },
                       {
                         \"type\": \"mrkdwn\",
                         \"text\": \"*Build URL:*\n$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\"
                       }
                     ]
                   }
                 ]
               }
             ]
           }" ${{ secrets.NEWSLETTER_CHANNEL }}
